ul li:hover {
    background: inherit;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    form {
        display: flex;
        flex-direction: column;
    }

    form select {
        margin: 10px 0;
    }
}
